{% extends 'my_places/base.html' %} 
{% include 'my_places/navbar.html'%}

{% block content %}
<body background="https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940">
		
	<div class="container">
			<div class="row">
					{% for image in images %}
					<div class="col-md-4"> 
					<!-- Card -->
						<div class="card">
								<!-- Card image -->
							<div class="view overlay">
								<img style=" height: 300px; width:350px;"  class="card-img-top img-responsive" src="{{image.image.url}}" alt="Card image cap" id="myImg">
								<a>
								<div class="mask rgba-white-slight">{{image.image_name}}</div>
								</a>
							</div>
								<!-- Card content -->
							<div class="card-body">
							
								<!-- Title -->
								<h4 class="card-title"><a data-toggle="modal" data-target="{{image.id}}">{{image.image_name}}</a></h4>
								<!-- Text -->
								<p class="card-text">Taken at: {{image.location}}</p>
								<p class="card_text">Uploaded on: {{image.pub_date}} </p>
								<!-- Button -->
								<button type="button" name="button" class=" btn_toggle btn btn-primary btn-sm" value="{{image.image.url}}"onclick="copylink(this.value)">Copy Image Link</button>
							</div>
						</div>
					<br>
					<br>
				</div>
				{% endfor %}
			</div>
				<br><br>
				
	<script>
		function copylink(value) {
      function handler(event){
          event.clipboardData.setData('text/plain',value);
          event.preventDefault();
          document.removeEventListener('copy', handler, true);
      }
      document.addEventListener('copy', handler, true);
      document.execCommand('copy');
		}


	</script>

	
</body>
{% endblock %} -->
