{%extends 'my_places/base.html'%} 
{% load static %}

{% block content %}
<body background="https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&h=650&w=940">
<div class="container">
  {% if final_images %}
  <h2 style="color:antiquewhite; font-weight: bold;">Found {{final_images|length }} of searched term {{message}}</h2>
  <hr>
  {% else %}
  <h2 style="color:antiquewhite;">Found 0 images for searched term</h2>
  <hr>
  {% endif %}
  <hr>
  <div class="row">
      {% for image in final_images %}
      <!-- Card -->
      <div class="card">
              <!-- Card image -->
          <div class="view overlay">
              <img style=" height: 300px; width:350px;"class="card-img-top img-responsive" src="{{image.image.url}}" alt="Card image cap">
              <a href="#!">
              <div class="mask rgba-white-slight"></div>
              </a>
          </div>
            
              <!-- Card content -->
          <div class="card-body">
          
              <!-- Title -->
              <h4 class="card-title">{{image.image_name}}</h4>
              <!-- Text -->
              <p class="card-text">Taken at: {{image.location}}</p>
              <p class="card-text">Uploaded at: {{image.pub_date}}</p>
              <p class="card-text">Description: {{image.location}}</p>
              <!-- Button -->
              <a href="#" class="btn btn-primary">Copy Link</a>
          
          </div>
            
      </div>
      <!-- Card -->
      {% endfor %}

  </div>
</div>
</body>
{% endblock %}